.text-type {
    display: inline-block;
}

.text-type__content {
    display: inline;
}

.text-type__cursor {
    display: inline-block;
    margin-left: 0.1em;
    font-weight: 100;
}

.text-type__cursor--hidden {
    display: none;
}